.env
.env.*
!.env.example
.git
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
tests
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/pail
